@import "tailwindcss"





 <div style="margin-top: -165px;">
                        <p style="font-size: 1.25em; color: white; font-weight: bold; padding-bottom: 19px;">60% Off | Bloom Plant</p>
                        <a style="text-decoration: underline; font-size: 1em; color: white; font-weight: 600px;" href="www.faugei.com">Shop Now</a>
                      </div>